    ##
    # DataSource and JPA/Hibernate
    ##
{% if database_name_formatted == 'h2' %}
    datasource:
        url: jdbc:h2:mem:devdb
        username: sa
    h2:
        console:
            enabled: true
{% endif %}
{% if database_name_formatted == 'postgresql' %}
    datasource:
        driverClassName: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/postgres
        username: postgres
        password: postgres
{% endif %}
{% if database_name_formatted == 'mysql' %}
    datasource:
        driverClassName: com.mysql.jdbc.Driver
        url: jdbc:mysql://localhost/devdb
        username: mysql
        password: mysql
{% endif %}
    jpa:
        generate-ddl: true
        show-sql: true
        open-in-view: false
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
                jdbc:
                    time_zone: UTC
                    batch_size: 20
                    order_inserts: true
                    order_updates: true
                    batch_versioned_data: true
                connection:
                    provider_disables_autocommit: true
                query:
                    in_clause_parameter_padding: true
                    fail_on_pagination_over_collection_fetch: true
                    plan_cache_max_size: 4096
